extends ../layout

block content
  h1 Track Expenses
  hr
  table(style='width:100%', border='1')
    tr
      th 
        a(href='/expenses?sort=date') Date
      th Time
      th Description
      th 
        a(href='/expenses?sort=amount') Amount
      th Comment
      th Action
      for expense in expenseList
        tr
          td= expense.date
          td= expense.time
          td= expense.description
          td= expense.amount
          td= expense.comment
          td
            a(href='/editexpense?id=' + expense.id) Edit
            b  / 
            a(href='/removeexpense?id=' + expense.id onclick='return confirm("Are you Sure")') Remove
  hr
  .row
    .col-md-4
      p
        a.btn.btn-raised(href='/addexpense', role='button') Add Expense
    
