extends ../layout

block content
  h1 Track Expenses
  hr
  table(style='width:100%', border='1')
    tr
      th
      th Date
      th Time
      th Description
      th Amount
      th Comment
      for expense in expenseList
        tr
          td
            input(type="checkbox", id=checked)
          td= expense.date
          td= expense.time
          td= expense.description
          td= expense.amount
          td= expense.comment
  hr
  .row
    .col-md-4
      p
        a.btn.btn-raised(href='/addexpense', role='button') Add Expense
    .col-md-4
      p
        a.btn.btn-raised(href='/editexpense', role='button') Edit Expense
    .col-md-4
      p
        a.btn.btn-raised(href='/addexpense', role='button') Delete Expense
